.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    overflow-y: scroll;
}

.rating {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
}